body{
    background: #eed;
}

#side_nav{
    background: #9E3451;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}
.content{
    min-height: 100vh;
    width: 100%;
}

hr.h-color{
    background: #eee;
}

.sidebar li.active{
    background: rgb(238, 238, 238);
    border-radius: 8px;
}
.sidebar li.active a, .sidebar li.active a:hover{
    color: rgb(82, 132, 207);
}
.sidebar li a{
    color: #fff;
}

.i{
    font-size: 50px !important;
    padding: 10px;
}

.fa-fa fa-home {
    font-size: 20px;
}
    
@media(max-width: 767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
}

#side_nav.active{
    margin-left: 0;
}

